@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=DM+Sans:wght@400;700&display=swap");
@import "tailwindcss";

@layer theme {
  :root {
    --font-heading: "Libre Baskerville";
    --font-paragraph: "DM Sans";
    --color-heading: #5c4e3d;
    --color-paragraph: #454240;
    --color-strong: #454240;
    --color-cardbackground: #f7edd4;
    --color-pagebackground: #fffdfa;
    --color-button-primary: #b88e23;
  }
}

@layer components {
  .section-layout {
    @apply py-10 px-4;
    background-color: var(--color-pagebackground);
  }

  .container-7xl {
    @apply max-w-7xl mx-auto;
  }

  .grid-two-col {
    @apply grid grid-cols-1 md:grid-cols-2 items-center gap-10;
  }

  .heading-title {
    @apply md:text-[39px] text-[35px]   leading-[44px] font-normal   md:leading-14  text-start md:font-bold  mb-10;
    color: var(--color-heading);
    font-family: var(--font-heading);
  }

  .paragraph-lg {
    @apply md:text-base text-[14px] text-start  leading-6  mb-6;
    color: var(--color-paragraph);
    font-family: var(--font-paragraph);
  }

  .primary-btn {
    @apply px-6 py-3 text-base text-black font-semibold rounded-md shadow cursor-pointer  transition-colors duration-300;
    font-family: var(--font-paragraph);
    background-color: var(--color-button-primary);
  }
  .secondary-btn {
    @apply px-6 py-3  text-base font-semibold rounded-md shadow border  cursor-pointer  transition-colors duration-300;
    font-family: var(--font-paragraph);
    color: var(--color-button-primary);
    border-color: var(--color-button-primary);
  }
  .btn-group {
    @apply flex flex-col sm:flex-row gap-4;
  }

  .hero-img {
    @apply w-full h-[400px] object-cover rounded-md shadow;
  }

  .card-box {
    @apply border border-gray-200 rounded-md p-6 shadow-sm transition-transform duration-300 hover:shadow-md;
    background-color: var(--color-pagebackground);
    border-color: var(--color-button-primary);
  }

  .card-border-highlight {
    border-left: 6px solid var(--color-button-primary);
    border-radius: 0.5rem;
  }

  .service-icon {
    @apply lg:text-4xl  text-2xl mb-4;
    color: var(--color-button-primary);
  }

  .info-number-box {
    @apply w-20 h-10 flex items-center justify-center rounded  font-bold shadow-sm;
    color: var(--color-heading);
    font-family: var(--font-heading);
  }

  .mustard-section {
    @apply py-12 px-4;
    background-color: var(--color-button-primary);
  }
  .mustard-section-overlap {
    @apply max-w-7xl rounded-xl py-5 px-5 mx-auto;
    background-color: var(--color-pagebackground);
  }
}

.card-title {
  @apply md:text-xl text-[17px] leading-6 font-normal  md:font-semibold mb-2;
  color: var(--color-heading);
  font-family: var(--font-heading);
}

.card-desc {
  @apply text-[14px] md:text-base   leading-6;
  color: var(--color-paragraph);
  font-family: var(--font-paragraph);
}

.table-header {
  @apply text-base leading-6  font-semibold mb-2;
  color: var(--color-heading);
  font-family: var(--font-heading);
}
.table-row {
  @apply text-base   leading-6;
  color: var(--color-paragraph);
  font-family: var(--font-paragraph);
}

.mustard-border {
  border-color: var(--color-button-primary);
}

.mustard-color {
  color: var(--color-button-primary);
}
