@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=DM+Sans:wght@400;700&display=swap");
@import "tailwindcss";

@layer theme {
  :root {
    --font-heading: "Libre Baskerville";
    --font-paragraph: "DM Sans";
    --color-heading: #5c4e3d;
    --color-paragraph: #454240;
    --color-strong: #454240;
    --color-cardbackground: #f7edd4;
    --color-pagebackground: #fffdfa;
  }
}

@layer components {
  .brand-heading {
    font-family: var(--font-paragraph);
    color: var(--color-paragraph);
  }

  /* for Mobile nav bar  */
  .mobile-menu {
    @apply text-white px-6 pb-6;
    background-color: var(--color-cardbackground);
  }

  .mobile-section {
    @apply border-b border-white/20 py-3;
    font-family: var(--font-paragraph);
    color: var(--color-paragraph);
  }

  .mobile-section-title {
    @apply flex justify-between items-center cursor-pointer;
    font-family: var(--font-paragraph);
    color: var(--color-paragraph);
  }

  .mobile-title-text {
    @apply font-semibold uppercase;
    font-family: var(--font-paragraph);
    color: var(--color-paragraph);
  }

  .mobile-title-icon {
    @apply text-sm;
  }

  .mobile-submenu {
    @apply mt-2 ml-4 space-y-3;
  }

  .mobile-subheading {
    @apply text-base font-semibold mb-1;
    font-family: var(--font-paragraph);
    color: var(--color-paragraph);
  }

  .mobile-sublist {
    @apply ml-3 space-y-1;
    font-family: var(--font-paragraph);
    color: var(--color-paragraph);
  }

  .mobile-subitem {
    @apply text-base;
    font-family: var(--font-paragraph);
    color: var(--color-paragraph);
  }

  .mobile-line {
    @apply border-b w-full py-1;
    border-color: var(--color-paragraph);
  }
}

.btn-nav {
  font-family: var(--font-paragraph);
  color: var(--color-paragraph);
  @apply border border-white text-white px-4 py-2 mt-5 rounded-full text-sm transition-all duration-300 ease-in-out;
}

.btn-nav:hover {
  background-color: white;
  color: var(--color-paragraph);
}

.dropdown-title {
  font-family: var(--font-paragraph);
  @apply text-lg font-semibold text-white cursor-pointer mb-2;
}

.dropdown-link {
  font-family: var(--font-paragraph);
  @apply text-sm  cursor-pointer hover:underline;
}

.nav-tab {
  font-family: var(--font-paragraph);
  color: var(--color-paragraph);
  background-color: var(--color-cardbackground);
  @apply w-30 h-20 flex justify-center items-center text-center text-sm font-bold uppercase  cursor-pointer transition-colors;
}

.nav-tab-hover:hover {
  @apply text-white;
  background-color: var(--color-paragraph);
}

.nav-tab-active {
  @apply text-white;
  background-color: var(--color-paragraph);
}

.nav-section-background {
  @apply absolute transition-opacity duration-200 ease-in-out top-full left-0 w-full  text-white shadow-xl z-40;
  background-color: var(--color-paragraph);
}
