@import "tailwindcss";

@tailwind utilities;


@font-face {
  font-family: 'Nourd';
  src: url('/assets/fonts/Nourd/Nourd-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nourd';
  src: url('/assets/fonts/Nourd/Nourd-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nourd';
  src: url('/assets/fonts/Nourd/Nourd-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nourd';
  src: url('/assets/fonts/Nourd/Nourd-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nourd';
  src: url('/assets/fonts/Nourd/Nourd-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nourd';
  src: url('/assets/fonts/Nourd/Nourd-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}


body{
  font-family: 'Nourd';
}

.bg-cream {
  background-color: #F9F6F2;
}

.text-dark {
  color: #3A2C1B;
}

.text-subtle {
  color: #5C5147;
}
